
	/* body{
		
		background-image: url("/static/images/sample.jpeg");
		background-repeat: no-repeat;
		background-size: cover; */
		

	
	/* } */
	h5{
		color: white;
	}
	/* h2{
		color: white;
	} */
	#total-orders{
		background-color: #7abecc;
	}


	#orders-delivered{
		background-color: #7abecc;
	}

	#orders-pending{
		background-color: #7CD1C0;
	}

